.container {
  text-align: center;
}
.container .board {
  width: 330px;
  height: 330px;
}
.container .board .row {
  border-top: 2px solid #ccc;
}
.container .board .row:first-child {
  border-top: transparent;
}
.container .board .row .col {
  border-left: 2px solid #ccc;
  min-height: 105px;
  font-size: 32px;
  font-weight: 400;
  padding-top: 35px;
  cursor: pointer;
}
.container .board .row .col:first-child {
  border-left: transparent;
}
.container .board .row .col.no-cursor {
  cursor: default !important;
}
.container .reporter {
  margin-top: 80px;
  margin-botton: 80px;
  font-size: 32px;
}
.container .reporter .col:nth-child(2) {
  padding-top: 4px;
  font-size: 24px;
}
